{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/flockmain/css/default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/flockmain/css/formalize.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/flockmain/css/smoothness/jquery-ui-1.8.7.custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="wrapper">

        <div class="header">
            <div class="logo"><img src="{{ asset('bundles/flockmain/images/flock.png') }}"/></div>
        </div>

        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/flockmain/js/jquery-1.5.2.min.js') }}"></script>
    <script src="{{ asset('bundles/flockmain/js/jquery.formalize.js') }}"></script>
    <script src="{{ asset('bundles/flockmain/js/jquery.elastic.js') }}"></script>
    <script src="{{ asset('bundles/flockmain/js/jquery.limit-1.2.source.js') }}"></script>
    <script src="{{ asset('bundles/flockmain/js/jquery-ui-1.8.7.custom.min.js') }}"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>

    {% block extra_javascripts %}{% endblock %}
{% endblock %}


