{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_label %}
{% spaceless %}
    <label for="{{ id }}" class="{{ errors|length > 0 ? 'error' : '' }}">{{ label|trans }}</label>
    <br>
{% endspaceless %}
{% endblock field_label %}

{% block field_row %}
{% spaceless %}
    <p>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </p>
{% endspaceless %}
{% endblock field_row %}

{% block attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ name }}"{% if read_only %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock attributes %}

{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('attributes') }} value="{{ value }}"/>
{% endspaceless %}
{% endblock field_widget %}

{% block datetime_widget %}
{% spaceless %}
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'text' %}
        {{ block('text_widget') }}
    {% else %}
        {{ date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
        &nbsp;{{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}&nbsp;:&nbsp;{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
{% endspaceless %}
{% endblock time_widget %}
