{% extends "FlockMainBundle::layout.html.twig" %}

{% block content %}
    <div id="content">
        <h2>Welcome to Flock! <small>A place where you can find interesting events and people.</small>&nbsp;&nbsp;<a href="{{ path('flock_create') }}" class="btn info">Create a flock</a></h2>
        <div class="info">Currently hosting <span class="highlight">{{ flocksCount }}</span>&nbsp;flocks and <span class="highlight">{{ usersCount }}</span>&nbsp;people</div>
        <div class="title">Latest activity</div>
        <div class="info">
            {% for activity in activities %}
                <div class="activity">
                    <img class="thumbnail" src="{{ activity.twitterProfileImageUrl }}" alt=""><a href="https://twitter.com/account/redirect_by_id?id={{ activity.twitterID }}" target="_blank" >@{{ activity.username }}</a>&nbsp;{{ activity.ActivityAsString }}&nbsp;<a href="{{ path('flock_show', { 'id': activity.flockID }) }}">{{ activity.flockName }}</a>
                </div>
            {% else %}
                Nope, nothing yet! :(
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block menu %}
    <li class="active"><a href="{{ path('flock_home') }}">Home</a></li>
    <li><a href="{{ path('flocks_list') }}">Flocks</a></li>
    <li><a href="{{ path('flock_about') }}">About</a></li>
{% endblock %}
