{% extends "FlockMainBundle::layout.html.twig" %}
{% form_theme form 'FlockMainBundle:Form:layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>Creating a new flock</h1>
            <form action="{{ path('flock_create') }}" {{ form_enctype(form) }} method="post">
                <div class="form_errors">
                {{ form_errors(form) }}
                </div>
                <div class="block_title">What's the plan?</div>
                <div class="block">
                    <p>
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, { 'attr': {'class': 'input_full', 'placeholder' : 'One line description, eg. Coffee in the evening?' } }) }}
                        <div class="error_message">{{ form_errors(form.name) }}</div>
                    </p>
                    <p>
                        {{ form_label(form.details) }}
                        {{ form_widget(form.details, { 'attr': {'class': 'input_full', 'placeholder' : 'A little more info about the event' } }) }}
                        <div class="error_message">{{ form_errors(form.details) }}</div>
                        <p><span class="chars_left">You have <span id="event_details_chars_left"></span> chars left.</span></p>
                    </p>
                </div>

                <div class="block_title">When is it?</div>
                <div class="block">
                    <p>
                        <div class="left">
                            {{ form_label(form.starts_at) }}
                            {{ form_widget(form.starts_at, { 'attr': {'class': 'input_full' } }) }}
                            <div class="error_message">{{ form_errors(form.starts_at.date) }}</div>
                            <div class="error_message">{{  form_errors(form.starts_at.time) }}</div>
                        </div>
                        <div class="right">
                            {{ form_label(form.ends_at) }}
                            {{ form_widget(form.ends_at, { 'attr': {'class': 'input_full'} }) }}
                            <div class="error_message">{{ form_errors(form.ends_at.date) }}</div>
                            <div class="error_message">{{ form_errors(form.ends_at.time) }}</div>
                        </div>
                    </p>
                </div>

                <div class="block_title">Where is it?</div>
                <div class="block">
                    <div class="left">
                        <div id="map_canvas" style="width:100%; height:300px;"></div>
                    </div>
                    <div class="right">
                        <p>
                            {{ form_label(form.place) }}
                            {{ form_widget(form.place, { 'attr': {'class': 'input_full', 'placeholder' : 'Where will it be held? eg. "Starbucks Coffee"' } }) }}
                            <div class="error_message">{{ form_errors(form.place) }}</div>
                        </p>
                        <p>
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address, { 'attr': {'class': 'input_full', 'placeholder' : 'Street address of the place' } }) }}
                            <div class="error_message">{{ form_errors(form.address) }}</div>
                            <span class="chars_left">You have <span id="address_chars_left" class="chars_left"></span> chars left.</span>
                        </p>
                        <p>
                            {{ form_label(form.website) }}
                            {{ form_widget(form.website, { 'attr': {'class': 'input_full', 'placeholder' : 'http://example.com' } }) }}
                            <div class="error_message">{{ form_errors(form.website) }}</div>
                        </p>
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form_submit"><input type="submit" value="Create Event"/></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script src="{{ asset('bundles/flockmain/js/flock/map.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            loadMapScript();  //load GMAp
            $('#event_details').elastic();
            $('#event_address').elastic();
            $('#event_details').limit('500','#event_details_chars_left');
            $('#event_address').limit('500','#address_chars_left');
        });
    </script>
{% endblock %}
